/* sætter en ny font til hele hjemmesiden som er Segoe UI */
body{
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display:inline;
}

/* fjerner stregen til links ved headeren øverst og laver teksten til sort farve.*/ 
a:link{
text-decoration: none;
color:black;
}

/* denne kode sætter en header øverst og giver plads imellem teksten samt at gøre teksten større og sætter en border rundt om navagtion */ 
.navigation{
    margin: 0.5 rem 0;
    text-align: center;
    font-size: 25px;
    border: 6px solid #65a1a1;
    padding: 9px;
}

/* giver farve til footer nederst er 4 px størt. */
.navigation .active {
    border-bottom: 4px solid rgba(0, 0, 200, .5); 
}
 /* centrere headeren og gør dens tekst større */
.header{
    text-align: center;
    font-size: 4vw;
}

.footer1{
    flex-grow: 0;
    text-align: center;
    background-color: var(--nav-bar-color);

}

.footer1 > p{
    margin:2px;
}

footer > p:last-child{
    margin-bottom:8px;
}

/* når man sætter sin cursor over links på siden vil der komme ind streg under */
a:hover{
    text-decoration: underline;
}

/* når man clicker på links så er bliver teksten til linket blå så brugeren ved man kommer ind på den underside f.eks. */
a:active{
    color:blue;
}

.menu{
    display:flex;
    align-items: center;
}

.menu > img{
    width: 10vw; 
}

.menu > h1{
    flex-grow:1;
}

/* :root gør at alt styling som bliver skrevet under det vil gøre alt på hjemmesiden har f.eks. samme font størrelse. */
:root {
    font-size: 1.5vw;
    --nav-bar-color: #65a1a1;
}

/* media queries til store computer skærme og font også til større skærme*/
@media screen and (max-width: 1300px) {
    :root {
        font-size:2vw;
    } 
}
/* media queries som gøre teksten og skærm størelsen er tilpasset til computer */
@media screen and (max-width: 1000px) {
    :root {
        font-size:2.5vw;
    } 
}
/* media queries som gøre teksten og skærm størelsen er tilpasset til tablet/medium størelse skærme */
@media screen and (max-width: 600px) {
    :root {
        font-size:4vw;
    } 
}
/* media queries som gøre teksten og skærm størelsen tilpasset til mobil */
@media screen and (max-width: 400px) {
    :root {
        font-size:6vw;
    } 
}
