/* TODO: sætte ny typografi som passer til hjemmesidens stil*/

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display:inline;
}

/* fjerner stregen til links ved headeren øverst og laver teksten til sort farve.*/ 
a:link{
text-decoration: none;
color:black;
}

/* denne kode sætter en header øverst og giver plads imellem teksten samt at gøre teksten større */ 
.navigation{
margin: 0.5 rem 0;
text-align: center;
font-size: 25px;
}

.header{
text-align: center;
}

    /* TODO: lave så når man er inde på en underside vil man med CSS vise brugeren man er i Mode med f.eks. underline eller andet ændre farve */

.footer1{
    flex-grow: 0;
    text-align: center;
    background-color: #325050;
}

.footer1 > p{
    margin:2px;
}

footer > p:last-child{
    margin-bottom:8px;
}

/* TODO: lave så når man er inde på en underside vil man med CSS vise brugeren man er i Mode med f.eks. underline eller andet ændre farve */

a:hover{
text-decoration: underline;
}

a:active{
color:blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* gør så navigationen er horizontal */
  li {
    display:inline;
}

/* fjerner stregen til links ved headeren øverst og laver teksten til sort farve.*/ 
a:link{
text-decoration: none;
color:black;
}

/* denne kode sætter en header øverst og giver plads imellem teksten samt at gøre teksten større */ 
.navigation{
margin: 0.5 rem 0;
text-align: center;
font-size: 25px;
}

/* sætter header teksten til midten */
.header{
    text-align: center;
}
/* sætter teksten til footeren til midten af siden og sætter baggrunds farve */
.footer1{
    flex-grow: 0;
    text-align: center;
    background-color: #325050;
}

.footer1 > p{
    margin:2px;
}

footer > p:last-child{
    margin-bottom:8px;
}

/* TODO: lave så når man er inde på en underside vil man med CSS vise brugeren man er i Mode med f.eks. underline eller andet ændre farve */

a:hover{
text-decoration: underline;
}

a:active{
color:blue;
}

